dist/fonts
dist/styles
dist/images
dist/scripts
dist/*.html
dist/*.css
dist/*.js
dist/*.jpg
dist/*.png


package-lock.json
node_modules/
bower_components/
_design/
_arc/
.idea
.DS_Store
.Saved/
*.log
*.sublime-*
*.rar
*.txt
*.zip
